.item-count-container {
  border: 1px solid var(--border-gray);
  width: 12rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  align-items: center;
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.counter-container button {
  width: 3rem;
  height: 1.5rem;
}

.add-to-cart-button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-weight: 800;
}
